<%-include('partials/header')%>
    <link rel="stylesheet" href="/css/6.css" />
  </head>
  <body>
    <%-include('partials/navbar')%> <%for(let i = 1;i<4;i++){%>
    <img src="/ai_gen_img/dp<%=i%>.png" alt="dp1 image" class="demand_img" />
    <p><%=arr[i-1]%></p>
    <%}%>

    <br />

    <%-include('partials/last')%>